body {
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
main {
    display: flex;
}
section {
    flex: 1;
}
h1 {
    text-align: center;
}
.selected {
    background-color: darkorchid;
}
.selected a {
    color: cornsilk;
}

li {
    padding: .25rem;
}